body{

margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
text-align:center;

}

.instructions{
max-width:600px;
margin:auto;
font-size:14px;
color:#cbd5f5;
}

.buttons button{

background:linear-gradient(135deg,#22c55e,#4ade80);
border:none;
padding:10px 20px;
margin:5px;
border-radius:8px;
color:white;
cursor:pointer;

}

canvas{

display:block;
margin:20px auto;
border-radius:12px;
box-shadow:0 0 40px rgba(0,200,255,0.6);

}

.hud{

width:900px;
margin:auto;
display:flex;
justify-content:space-between;

}

.aqiContainer{

width:300px;
height:12px;
background:#1e293b;
border-radius:10px;

}

#aqiBar{

height:100%;
width:20%;
background:green;

}

#leaderboard{

max-width:300px;
margin:auto;
text-align:left;

}
